language: csharp
solution: VStore.sln
os: linux
dist: trusty # Ubuntu 14.04
mono: none
dotnet: 2.1
script:
 - dotnet restore
 - dotnet test tests/VStore.UnitTests/VStore.UnitTests.csproj --configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutputDirectory="`pwd`/"

after_success:
 - curl -s https://codecov.io/bash > codecov
 - chmod +x codecov
 - ./codecov -f "./coverage.xml"